form {
	background: grey;
	width: 30%;
	margin: 0 auto;
	margin-top: 100px;
	padding: 10px;
	border-radius: 5px;
}

label {
	width: 100px;
	float: left;
	display: inline-block;
	margin-right: 10px;
	color: white;
}

input {
	height: 25px;
	border-radius: 5px;
	width: 180px;
	padding-left: 5px;
}

form div {
	margin-bottom: 10px;
	text-align: center;
}