<div id="process-form" class="process">
  <header class="top-bg mat-accent-bg" fxlayout="row" fxLayoutAlign="center center">
    <h2 fxFlex>
      <mat-icon class="mr-16">all_inbox</mat-icon>
      <span class="text"> Processos</span>
    </h2>
  </header>
  <main class="container mat-elevation-z0">
    <div fxLayout="column" fxLayoutAlign="start start" style="flex-direction: column !important;">
      <form class="mat-white-bg mat-elevation-z4" fxLayout="column" id="processForm" [formGroup]="processForm">
        <div class="requester pb-24">
          <div class="h2 mb-24">
            <mat-icon class="mr-16">inbox</mat-icon>
            <span class="text"> Processo</span>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center">
            <mat-form-field fxFlex="50" style="margin-right: 10px">
              <input formControlName="number" placeholder="Número do processo" type="text" matInput>
              <mat-error>Informe o número do processo.</mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center">
            <mat-form-field fxFlex="100" style="margin-right: 10px">
              <textarea formControlName="report" placeholder="Parecer do processo" type="text" matInput></textarea>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center">
            <mat-form-field fxFlex="98">
              <mat-select placeholder="Usuários Finalizadores" formControlName="users"
                aria-label="Selecione um ou mais usuários finalizadores para este processo">
                <mat-option>Selecione</mat-option>
                <mat-option *ngFor="let item of users" [value]="item">
                  {{item.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-mini-fab color="accent" class="mat-accent" aria-label="Adicionar usuário" (click)="addChips()"
              style="margin-left: 11px;">
              <mat-icon>
                add
              </mat-icon>
            </button>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center">
            <div fxFlex="50" style="width: 100%; display: contents;">
              <mat-form-field class="example-chip-list">
                <mat-chip-list #chipList aria-label="Seleção de usuários">
                  <mat-chip *ngFor="let item of chipsSpecialities" [selectable]="selectable" [removable]="removable"
                    (removed)="remove(item)">
                    {{item.name}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                </mat-chip-list>
              </mat-form-field>
            </div>
          </div>

        </div>
      </form>
      <mat-progress-bar *ngIf="showLoadingBar" class="loading-bar" color="accent" mode="indeterminate">
      </mat-progress-bar>
      <div fxLayout="row" fxFlex="1 0 auto" class="actions-buttons">
        <button mat-raised-button type="button" color="warn" (click)="removeProcess()" [disabled]="showLoadingBar">
          Excluir
        </button>
        <div fxLayout="row" fxLayoutAlign="end" fxFlex="1 0 auto">
          <button mat-button color="primary" type="button" class="mr-8" (click)="goBack()" [disabled]="showLoadingBar">
            Voltar
          </button>
          <button mat-raised-button color="primary" class="mat-accent" type="submit"
            [disabled]="processForm.invalid || showLoadingBar" aria-label="Salvar" (click)="save()">
            Salvar
          </button>
        </div>
      </div>
    </div>
  </main>
</div>