<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Lista de Usuários</h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
          </button>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="alert alert-info" *ngIf="users?.length === 0">
        <span>lista vazia</span>
      </div>
      <div *ngIf="users?.length > 0" class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap">
          <thead>
          <tr>
            <th>Login</th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Email</th>
            <th>Perfil</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users">
            <td>{{user.login}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>
              <span *ngIf="user.role == 'ADM'" class="badge bg-danger">Administrador</span>
              <span *ngIf="user.role == 'TRIADOR'" class="badge bg-primary">Triador</span>
              <span *ngIf="user.role == 'FINALIZADOR'" class="badge bg-success">Finalizador</span>
            </td>
            <td class="text-right py-0 align-middle">
              <div class="btn-group btn-group-sm">
                <button class="btn btn-sm btn-primary" (click)="edit(user.id)">
                  <span class="fa fa-pencil-alt"></span>
                </button>
                <button class="btn btn-sm btn-danger" (click)="delete(user.id)">
                  <span class="fa fa-trash-alt"></span>
                </button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>

