<div class="form-register">

        <!-- <app-imageviewer [urlSrc]="imgUrl"></app-imageviewer> -->
 
   <div style="width: 350px; height: 350px; overflow: scroll;">
    <img [src]="imgSrc" id="imgTeste" name="imgTeste" class="zoom-beta-0"  >
   </div>
    
    
    <div>
        <button mat-button warn color="warn" (click)="zoomLess()">
            <mat-icon>zoom_out</mat-icon>
          </button>
  
          <button mat-button primary color="primary" (click)="zoomMore()" >
            <mat-icon>zoom_in</mat-icon>
          </button>
    </div>



</div>