.tab-solicitation{
    width: 100%;
}

.zoom-beta-0{
    width: 100px;
    height: 100px;
}

.zoom-beta-1{
    width: 100px;
    height: 100px;
}

.zoom-beta-2{
    width: 200px;
    height: 200px;
}

.zoom-beta-3{
    width: 300px;
    height: 300px;
}

.zoom-beta-4{
    width: 400px;
    height: 400px;
}

.zoom-beta-5{
    width: 500px;
    height: 500px;
}

.zoom-beta-6{
    width: 600px;
    height: 600px;
}