<div class="wrapper fadeInDown" style="margin-top: 10%">
    <div id="formContent">

      <h2 class="active"> GDP - Gerenciador de Processos </h2>
      <form [formGroup]="loginForm" (submit)="login()">
        <input type="text" id="login" formControlName="login" autocomplete="off"  class="fadeIn second" autocomplete="off" name="login" placeholder="login">
        <input type="password" id="password" formControlName="password" class="fadeIn third"  autocomplete="off" name="login" placeholder="password">
        <input [disabled]="loginForm.invalid" class="btn btn-lg btn-primary btn-block" type="submit"  class="fadeIn fourth" value="Entrar">
      </form>

      <div id="formFooter">
        GDP - 2018
      </div>
    </div>
  </div>
