<div class="container h-100">
  <div class="row h-100 justify-content-center">
    <div class="col-12">
      <div class="form-group">
        <h2>Cadastro de processos</h2>
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput"><strong>Insira o nome do Processo</strong></label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Insira o nome do processo"
          [(ngModel)]="processo.nome">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Escolha a quem pertence o processo</label>
        <ul class="list-group">
          <li class="list-group-item" id="checkDosUsuarios" *ngFor="let usuario of usuarios">
            <a>
              <input (click)="inserirUsuario(usuario)" type="checkbox"> {{usuario.nome}}
            </a>
          </li>
        </ul>
      </div>
      <div class="form-group">
        <button type="button" id="btnLogin" class="btn btn-primary" (click)="cadastrarProcesso(processo)">Criar
          Processo</button>
      </div>
      <div class="form-group">
        <h2>Processos já cadastrados</h2>
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Data de cricacao</th>
              <th scope="col">Pertence</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let processo of processos'>
              <td><input type="text" class="form-control" [(ngModel)]="processo.nome" placeholder="Insira o nome"></td>
              <td><label type="text" class="form-control">{{processo.dataHora | date: 'dd/MM/yyyy' }}</label></td>
              <td>
                <ul>
                  <li *ngFor='let usuario of processo.usuarios'>
                    {{usuario.nome}}
                  </li>

                </ul>
              </td>
              <th>
                <button type="button" (click)="atualizar(processo)" class="btn btn-primary">Atualizar</button>
                <button type="button" class="btn btn-primary" (click)="openModal(template);listarParecerDoProcesso(processo)">Listar
                  Parecer</button>
                <button type="button" (click)="deletarProcesso(processo.id)" class="btn btn-danger">Deletar</button>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Pareceres</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <ul>
        <li *ngFor='let parecer of pareceres'>
          Parecer de:{{parecer.usuario.nome}} <br>
          Parecer: {{parecer.nome}}
        </li>
      </ul>
    </div>
    <div class="modal-footer">
      <button type="button" (click)="finalizarProcesso(processo);modalRef.hide()" class="btn btn-primary">Finalizar
        processo</button>
    </div>
  </ng-template>