<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">

      <li class="header">MENU PRINCIPAL</li>

      <li class="treeview">
        <a [routerLink]="['/dashboard']">
          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
      </li>

      <li class="active treeview menu-open" *ngIf="shared.user.profile =='ADMIN'">
        <a>
          <i class="fa fa-users"></i> <span>Usuários</span>
        </a>
        <ul class="treeview-menu">
          <li><a [routerLink]="['/user-list']"><i class="fa fa-circle-o"></i> Listar</a></li>
          <li><a [routerLink]="['/user-new']"><i class="fa fa-circle-o"></i> Novo</a></li>
        </ul>
      </li>

      <li class="active treeview menu-open" *ngIf="shared.user.profile !='ADMIN'">
        <a>
          <i class="fa fa-file-o"></i> <span>Processos</span>
        </a>
        <ul class="treeview-menu">
          <li><a [routerLink]="['/process-list']"><i class="fa fa-circle-o"></i> Listar</a></li>
          <li *ngIf="shared.user.profile =='PROCESS_STARTER'" ><a [routerLink]="['/process-new']"><i class="fa fa-circle-o"></i> Novo</a></li>
        </ul>
      </li>      
    </ul>
  </section>
</aside>