<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
      <li class="treeview" *ngIf="shared.user.profile == 'ADMIN'">
        <a href="#">
          <i class="fa fa-edit"></i> <span>Users</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a [routerLink]="['/user-list']"><i class="fa fa-circle-o"></i> List</a></li>
          <li><a [routerLink]="['/user-new']"><i class="fa fa-circle-o"></i> New User</a></li>
        </ul>
      </li>
    </ul>
  </section>
</aside>