<div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
           <h5 class="card-title">
              <div class="row">
                  <div class="col-md-6 ">Atualizar Usuário</div>
              </div>
           </h5>
           <div class="row">
              <div class="col-4">
                  <div class="btn-group" role="group" aria-label="Exemplo básico">
                      <a type="button" href="#/usuarios" class="btn btn-secondary">Voltar</a>
                  </div>
              </div>
              <div class="row">
                  <div class="col-12">
                    <form>
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="inputEmail4">Nome:</label>
                            <input type="text" class="form-control" id="name" placeholder="Nome">
                          </div>
                          <div class="form-group col-md-6">
                            <label for="inputPassword4">Sobrenome:</label>
                            <input type="text" class="form-control" id="lastName" placeholder="Sobrenome">
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-12">
                            <label for="profile">Perfil:</label>
                            <select id="profile" class="form-control">
                              <option selected>Selecione ...</option>
                              <option>...</option>
                              <option>...</option>
                              <option>...</option>
                              <option>...</option>
                            </select>
                          </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                      </form>

                  </div>
              </div>
           </div>
         </div>
       </div>
     </div>
    </div>
    </div>


