<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <div class="row">
              <div class="col-md-6 "> {{id ? 'Atualizar Usuário': 'Novo Usuário'}}</div>
            </div>
          </h5>
          <div class="row">
            <div class="col-4">
              <div class="btn-group" role="group" aria-label="Exemplo básico">
                <a type="button" href="#/usuarios" class="btn btn-secondary">Voltar</a>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <form [formGroup]="formUser" (submit)="user.id ? update() : create() ">
                  <div class="form-row" *ngIf="!user.id">
                    <div class="form-group col-md-4">
                      <label for="name">Login:</label>
                      <input type="text" formControlName="login" class="form-control" autocomplete="off" id="login"
                        placeholder="Login">
                    </div>
                    <div class="form-group col-md-8">
                        <label for="name">Senha:</label>
                        <input type="password" formControlName="password" class="form-control" autocomplete="off" id="password"
                          placeholder="Senha">
                      </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="name">Nome:</label>
                      <input type="text" formControlName="name" class="form-control" autocomplete="off" id="name"
                        placeholder="Nome">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputPassword4">Sobrenome:</label>
                      <input type="text" formControlName="lastName" class="form-control" id="lastName" autocomplete="off"
                        placeholder="Sobrenome">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label for="profile">Perfil:</label>
                      <select id="profile" formControlName="profile" class="form-control">
                        <option *ngFor="let profile of profiles">{{profile}}</option>
                      </select>
                    </div>
                  </div>
                  <button type="submit" [disabled]="formUser.invalid" class="btn btn-primary">Salvar</button>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
