<div class="col-md-6" style="margin-left:0%">
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">New Process</h3>
    </div>
    <form class="form-horizontal" #form="ngForm" (ngSubmit)="register()" novalidate>
      <div [ngClass]="classCss" role="alert" *ngIf="message">
        <strong>{{ message.text }}</strong>
      </div>
      <div class="box-body">
        <div [ngClass]="getFormGroupClass(number.invalid,number.dirty)">
          <label for="inputNumber" class="col-sm-2 control-label">Number</label>
          <div class="col-sm-10">
            <input type="text" 
                    [(ngModel)]="process.number"
                    name="number" 
                    class="form-control" 
                    id="inputNumber" 
                    placeholder="Number"
                    #number="ngModel" 
                    required>
            <span class="help-block" *ngIf="number.invalid && number.dirty">Number is required</span>
          </div>
        </div>
        <div [ngClass]="getFormGroupClass(description.invalid,description.dirty)">
          <label for="inputDescription" class="col-sm-2 control-label">Description</label>
          <div class="col-sm-10">
            <textarea [(ngModel)]="process.description"
                    name="description" 
                    rows="3"
                    class="form-control" 
                    id="inputDescription" 
                    placeholder="Description..."
                    #description="ngModel" 
                    required>
            </textarea>        
            <span class="help-block" *ngIf="description.invalid && description.dirty">Description is required</span>
          </div>
        </div>
      </div>
      <div class="box-footer">
        <button type="submit" [disabled]="!form.valid" class="btn btn-info pull-right">Submit</button>
      </div>
    </form>
  </div>
</div>