.logon-container {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logon-container .content {
  width: 100%;
  padding: 48px 96px;
  background: #b6b6b8;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logon-container section.form {
  width: 100%;
  max-width: 350px;
}

.logon-container section.form form {
  margin-top: 100px;
}
.logon-container section.form form h1 {
  font-size: 32px;
  margin-bottom: 32px;
}

.logon-container section.form form input + input {
  margin-top: 8px;
}
