aside.menu-area {
    background-color: var(--bg-dark);
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.12), 2px 0 15px rgba(0, 0, 0, 0.09);
}

.menu a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 15px;
    font-weight: 300;
}

.menu a:hover {
    background: linear-gradient(135deg, #07a7e3 0%, #32dac3 100%)
}

@media (max-width: 768px) {
    .menu {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .menu a {
        display: inline;
        padding: 10px;
        margin: 0px;
    }
    .menu  {
        height: 100%;
        justify-content: space-around;
    }
}