<div class="row">
  <div class="col s12">
    <div id="structure" class="section scrollspy">
      <div class="container">
        <router-outlet></router-outlet>
      </div>
      <ul class="sidenav" style="transform: translateX(0px);">
          <li>
            <div class="user-view">
              <a href="#user"><i class="large material-icons">account_circle</i></a>
              <a href="#name"><span class="text name">John Doe</span></a>
            </div>
          </li>
          <li><a href="javascript:void(0)" (click)="redirecionaPagina('listar-usuario');"><i class="material-icons" >group</i>Usuários</a></li>
          <li><a href="javascript:void(0)" (click)="redirecionaPagina('listar-processo');"><i class="material-icons" >assignment</i>Processos</a></li>
          <li><a href="javascript:void(0)" (click)="redirecionaPagina('listar-pendente');"><i class="material-icons" >assignment_late</i>Pendências</a></li>
          <li><a class="waves-effect waves-light btn-small blue" href="javascript:void(0)" (click)="logout();">Logout</a></li>
        </ul>
    </div>
  </div>
  <a id="msgAdm"></a>
</div>  
