<div id="formLogin">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-6">
      <h1>
        Tela de login
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">Login</div>
    <div class="col-md-10"><input type="text" [(ngModel)]="user.login"></div>
  </div>
  <div class="row">
    <div class="col-md-2">Senha</div>
    <div class="col-md-10"> <input type="password" [(ngModel)]="user.senha"></div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
      <button type="button" id="btnLogin" (click)="onSubmit()" class="btn btn-dark">Entrar</button>
    </div>
  </div>
</div>