<h1>{{ titulo }}</h1>
<form (submit)="salvar()">
    <mat-form-field class="example-full-width">
        <input matInput type="text" placeholder="Nome" name="nome" [(ngModel)]="processo.nome">
    </mat-form-field><br>
    
    <mat-form-field class="example-full-width">
        <input matInput type="number" name="numero" placeholder="Número" [(ngModel)]="processo.numero">
    </mat-form-field><br>
    
    <mat-form-field class="example-full-width">
        <input matInput type="number" name="ano" placeholder="Ano" [(ngModel)]="processo.ano">
    </mat-form-field><br>
    
    <button mat-flat-button color="primary" type="submit">Salvar</button>
    <button mat-flat-button type="button" (click)="voltar()">Voltar</button>
</form>