
  <div class='row right-align'>      
      <a class="waves-effect waves-light btn blue" title="Voltar"><i class="material-icons left ">arrow_back</i></a>    
</div>
<div class='row'>
    <table class="striped responsive-table">
        <thead>
          <tr>
              <th>Processo</th>
              <th></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Alvin Ribeiro</td>
            <td><i class="material-icons" (click)="incluirParecer('processo/:id')">add</i></td>
          </tr>
        </tbody>
      </table>

</div>