
  <div class='row right-align'>      
      <a class="waves-effect waves-light btn blue" title="Voltar"><i class="material-icons left ">arrow_back</i></a>    
</div>
<div class='row'>
    <table class="striped responsive-table">
        <thead>
          <tr>
              <th>Processo</th>
              <th></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let proc of lstProcessosPendentes">
            <td>{{proc.descricao}}</td>
            <td>{{proc.dataCriacao | date: 'dd/MM/yyyy'}}</td>
            <td><i class="material-icons" (click)="incluirParecer('pendente/'+proc.id)">add</i></td>
          </tr>
        </tbody>
      </table>

</div>