<div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
           <h5 class="card-title">
              <div class="row">
                  <div class="col-md-6 ">Usuário: {{user.name}}</div>
              </div>
           </h5>
           <div class="row">
              <div class="col-4">
                  <div class="btn-group" role="group" aria-label="Exemplo básico">
                      <a type="button" href="#/usuarios" class="btn btn-secondary">Voltar</a>
                  </div>
              </div>
             <div class="col-8">
               <ul class="list-group list-group-flush">
                   <li class="list-group-item">
                        <h4>Nome: </h4>{{user.name}}
                   </li>
                   <li class="list-group-item">
                      <h4>Sobrenome: </h4>{{user.lastName}}
                   </li>
                   <li class="list-group-item">
                      <h4>Login: </h4>{{user.login}}
                   </li>
                   <li class="list-group-item">
                      <h4>Perfil: </h4>{{user.profile}}
                   </li>
                 </ul>
             </div>
           </div>
         </div>
       </div>
     </div>
    </div>
    </div>


