<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <div class="row">
              <div class="col-md-6 "> Parecer para o processo: {{process.code}}</div>
            </div>
          </h5>
          <div class="row">
            <div class="col-4">
              <div class="btn-group" role="group" aria-label="Exemplo básico">
                <a type="button" href="#/finalizar" class="btn btn-secondary">Voltar</a>
              </div>
            </div>
            <div class="col-6">
              <form [formGroup]="formFeedback">
                <div class="form-row">
                    <label for="name">Processo:</label>
                    <input type="text" formControlName="name" class="form-control" autocomplete="off" id="name"
                      placeholder="Processo">
                  </div>
                <div class="form-row">
                  <label for="name">Status:</label>
                  <input type="text" formControlName="status" class="form-control" autocomplete="off" id="status"
                    placeholder="Descricao">
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="users">Parecer de:</label>
                    <select formControlName="user" class="form-control" id="user">
                      <option [ngValue]="s" *ngFor="let s of process.users">{{s.name}}</option>
                    </select>
                  </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                      <label for="description">Texto:</label>
                      <textarea rows="10" formControlName="description" class="form-control" id="description" >

                      </textarea>
                    </div>
                  </div>
                <button (click)="finalize()" [disabled]="formFeedback.invalid" class="btn btn-primary">Salvar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
