.user {
    width: 100%;
    height: 100%;    

    header {
        margin: 0 0 auto;

        h2 {
            margin: 0px 10px auto;
            padding: 25px 25px;
            height: 10%;
        }

        .text {
            vertical-align: text-bottom;
        }

        .toggle-view {
            margin-right: 20px;

            .mat-button-toggle-checked {
                background-color: #207eb8;
                color: rgba(0, 0, 0, 0.54);
                box-shadow: inset 0 0 10px 0px #1e62a9;
            }

            .mat-icon {
                color: #fff
            }
        }
    }

    .h2 {
        margin-bottom: 15px;
    }

    .text {
        font-weight: 500;
        vertical-align: super;
    }

    .filters {
        .mat-form-field {
            width: 100%;
        }
    }

    .actions {
        margin-right: 5.5em;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        button {
            font-size: 1.5em;
        }
    }
    .mat-fab {
        position: fixed;
        z-index: 9999;
        bottom: 30px;
        right: 40px;
        zoom: 1.2
    }

    .mat-accent{
        background-color: #3f51b5;
    }

}

.container {
    position: relative;
}

.no-records {
    margin: 20px;
    padding: 10px 20px;
    background: #fff9c3;
    color: #b7ac47;
    font-size: 14px;
    border-left: 4px solid #ecdd57;
    box-shadow: 0 0 10px -5px #333;
}

.table-container {
    position: relative;
    max-height: 100% !important;
    height: auto !important;
    overflow: auto;
}

table {
    width: 100%;
}

.loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Column Widths */

.mat-column-created_at {
    width: 160px;
}

.mat-column-status,
.mat-column-number{
    max-width: 64px;
}

.mat-column-real_state {
    max-width: 124px;
}

.mat-toolbar {
    background: inherit;
    color: inherit;
    position: relative;

    .loading-bar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
    }
}
.actions-buttons {
    background: #9eb2c112;
    padding: 10px !important;
    border-top: 1px solid #ddd;
    width: 100%;
}

:host ::ng-deep #user-form{
    #userForm{
        width: 95.7%;
        margin: 24px;
        padding: 24px;
    }

    mat-form-field {
        width: 100%;
    }
}
