<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
  <a [routerLink]="['/home']" [routerLinkActive]="['active']" class="nav-link" id="homeLink" role="tab" aria-selected="true">Home</a>
  <a [routerLink]="['/dashboard']" [routerLinkActive]="['active']" class="nav-link" id="dashboardLink" data-toggle="pill" href="#v-pills-profile" role="tab"  aria-selected="false">Dashboard</a>
  <a [routerLink]="['/heroes']" [routerLinkActive]="['active']" class="nav-link" id="heroesLink" data-toggle="pill" href="#v-pills-messages" role="tab" aria-selected="false">Heroes</a>
</div>
