<div class="container">
  <form class="form-group" *ngIf="usuarios">
    <div *ngIf="usuarios">
      <h3>Selecione o Usuário</h3>
      <select class="form-control col-md-6" id="usuario"
              title="Selecione" name="usuario" (change)="verificaUsuario()"
              [(ngModel)]="usuario" data-live-search-style="begins" data-live-search="true">
        <option *ngFor="let usu of usuarios"
                [ngValue]="usu">{{ usu.nome }} - {{usu.tipoUsuario}}</option>
      </select>


      <div class="form-group col-md-16" *ngIf="usuario && usuario.tipoUsuario === 'TRIADOR'">
        <h3>Informe o Finalizador</h3>
        <select class="form-control col-md-6" id="finalizador"
                title="Selecione" name="finalizador" [(ngModel)]="finalizador" data-live-search-style="begins"
                data-live-search="true" (change)="buscaProcessos()">
          <option *ngFor="let finali of finalizadores"
                  [ngValue]="finali">{{ finali.nome }} - {{finali.tipoUsuario}}</option>
        </select>
        <h3 *ngIf="finalizador && finalizador.tipoUsuario === 'FINALIZADOR'">Listagem de Processos Pendentes</h3>
        <table class="table table-bordered table-dark" *ngIf="finalizador && finalizador.tipoUsuario === 'FINALIZADOR'">
          <thead>
          <tr>
            <th scope="col">
              Email
            </th>
            <th scope="col">
              Cadastro
            </th>
            <th scope="col">
              Adicionar Finalizador
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let pro of processos">
            <td>{{pro.email}}</td>
            <td>{{pro.dataCadastro}}</td>
            <button (click)="adicionarFinalizador(pro)"><img src="assets/images/database.png" alt="Adicionar Finalizador">
            </button>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
</div>

