<div id="wrapper" class="animate">
  <nav class="navbar header-top fixed-top navbar-expand-lg  navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ml-md-auto d-md-flex">
        <li class="nav-item" *ngIf="user.profile === 'ADMIN'">
          <a class="nav-link" href="#/usuarios">Usuarios
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="user.profile === 'TRIADOR'">
            <a class="nav-link" href="#/triagem">Triagem</a>
        </li>
        <li class="nav-item" *ngIf="user.profile === 'FINALIZADOR'">
            <a class="nav-link" href="#/finalizar">Finalização</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="logout()">Sair</a>
          </li>
      </ul>
    </div>
  </nav>
</div>


