<h1>Dados do Processo</h1>
<form>
  <label for="nome">Nome</label><br>
  {{processo.nome}}<br>
  <label for="numero">Número</label><br>
  {{processo.numero}}<br>
  <label for="ano">Ano</label><br>
  {{processo.ano}}<br>
  <label for="ano">Parecer</label><br><br>
  <div *ngIf="!possuiParecer">
    Nenhum parecer encontrado
  </div>
  <div *ngIf="possuiParecer">
    <label>Descrição</label><br>
    {{processo.parecer.descricao}}<br>
    <label>Data de Cadastro</label><br>
    {{processo.parecer.cadastro | date: 'dd/MM/yyyy'}}<br>
  </div>
  <button type="button" (click)="editar()">Editar</button>
  <button type="button" (click)="voltar()">Voltar</button>
</form>