// Fontes
$font-noto-sans: 'Noto Sans', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;

// Colors
$color-snow: #fafafa; //snow
$color-blue: #009de0;
$color-blue-light: rgba(0, 157, 224, 0.12);
$color-blue-dark: #006fae;
$color-pink: #e4007b;
$color-yellow-light: #fefff5;
$color-grey-darker: rgba(0, 0, 0, 0.89);

// heights
$header-height: 64px;

// gaps
$column-gap: 0.75rem;
