<div [ngClass]="classCss" role="alert" *ngIf="message">
    <strong>{{ message.text }}</strong>
  </div>
  <div class="row">
  <div class="col-md-10">
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Process List</h3>
    </div>
    <div [ngClass]="classCss" role="alert" *ngIf="message">
        <strong>{{ message.text }}</strong>
    </div>
    <div class="box-body">
      <table class="table table-bordered">
        <tr>
          <th>Number</th>
          <th>Description</th>
          <th style="width: 10px" *ngIf="shared.user.profile == 'FINALIZADOR'">&nbsp;</th>
        </tr>
        <tr *ngFor="let processFb of listProcess">
          <td>{{processFb.process.number}}</td>
          <td>{{processFb.process.description}}</td>
          <td *ngIf="shared.user.profile == 'FINALIZADOR'">
              <button class="btn btn-primary" (click)="registerFeedback(processFb.id)">Feedback</button>
          </td>
        </tr>
      </table>
    </div>
    <div class="box-footer clearfix">
      <ul class="pagination pagination-sm no-margin pull-right">
        <li><a href="" (click)="setPreviousPage($event)">&laquo;</a></li>
        <li *ngFor="let p of pages; let i=index">
            <a [ngClass]="{'pagination-focus':i==page}"  href="" (click)="setPage(i,$event)">{{i+1}}</a>
        </li>
        <li><a href="" (click)="setNextPage($event)">&raquo;</a></li>
      </ul>
    </div>
  </div>
  </div>
  </div>