<div>
  <mat-card>
    <mat-card-title>
        <button mat-icon-button color="accent" (click)="routeFormNewUser()">
            <mat-icon>person_add</mat-icon>
            Adicionar Novo
        </button>
    </mat-card-title>

    <mat-card-content>
      <div *ngIf="isError">
        <mat-chip-list >
          <mat-chip style="margin-left: 30%" color="warn" selected="true"><mat-chip-avatar> <mat-icon>error</mat-icon></mat-chip-avatar> {{ error }}</mat-chip>
        </mat-chip-list>
      </div>
    </mat-card-content>

    <mat-card-content>
      <mat-list-item *ngFor="let u of users">
        <mat-divider [inset]="true"></mat-divider>
        <h4 mat-line (click)="routeFormUser(u.id)" ><mat-icon>account_circle</mat-icon> {{u.login}} | {{u.name}} | {{u.profile}}</h4>
        <mat-divider inset *ngIf="!last"></mat-divider>
      </mat-list-item>
    </mat-card-content>
  </mat-card>
</div>